:root {
    --background-color: #eee;
    --primary-color: #f00;
    --accent-color: #0d6efd;
    --text-color: #000;
    --inversed-text-color: #fff;
    --content-background-color: #fff;
}

.darkmode {
    --background-color: #222;
    --text-color: #fff;
    --inversed-text-color: #000;
    --content-background-color: #000;
}

.content {
    padding-left: var(--bs-gutter-x,.75rem);
    padding-right: var(--bs-gutter-x,.75rem);
}

.content-header {
    margin-bottom: 2rem;
}

h1 {
    margin-bottom: 2rem;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

.card {
    background-color: var(--content-background-color);
    color: var(--text-color);
}

.business-text {
    display: grid;
    grid-auto-flow: row;
    align-items: flex-start;
    justify-items: flex-start;
}

.office {
    height: 24rem;
    background-image: url('../assets/office.jpeg');
    background-position: center;
    background-size: cover;
}

.factory {
    height: 24rem;
    background-image: url('../assets/factory.jpg');
    background-position: center;
    background-size: cover;
}