:root {
    --background-color: #f4f4f4;
    --primary-color: #f00;
    --accent-color: #0d6efd;
    --text-color: #000;
    --inversed-text-color: #fff;
    --content-background-color: #fff;
}

.darkmode {
    --background-color: #141414;
    --text-color: #fff;
    --inversed-text-color: #000;
    --content-background-color: #000;
}

.content {
    padding-left: var(--bs-gutter-x,.75rem);
    padding-right: var(--bs-gutter-x,.75rem);
}

.slate-left, .slate-right {
    width: 49%;
    display: inline-block;
}

.slate-left {
    margin-right: var(--bs-gutter-x,.375rem);
}

.slate-right {
    margin-left: var(--bs-gutter-x,.375rem);
}

.card {
    background-color: var(--content-background-color);
    color: var(--text-color);
    border-width: 1px;
    border-color: white;
    margin-bottom: var(--bs-gutter-x,.75rem);
}

.card-body {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 4px;
}

.card-title {
    display: inline-block;
    font-size: 1.5rem;
}

.card-text {
    display: inline-block;
    white-space: nowrap;
}

.btn-call {
    display: inline-block;
}

@media only screen and (max-width: 768px) {
    .slate-left, .slate-right {
        display: block;
        width: auto;
    }
}