:root {
    --background-color: #eee;
    --primary-color: #f00;
    --accent-color: #0d6efd;
    --text-color: #000;
    --inversed-text-color: #fff;
    --content-background-color: #fff;
}

.darkmode {
    --background-color: #222;
    --text-color: #fff;
    --inversed-text-color: #000;
    --content-background-color: #000;
}

.navbar {
    background-color: rgba(255, 0, 0, 0.9);
    backdrop-filter: blur(4px);
}

h1 {
    font-size: 7rem;
    font-weight: bold;
    margin: 0;
}

h3 {
    font-size: 2.75rem;
    margin: 0;
}

.main-content {
    padding-top: 3rem;
    background-color: var(--primary-color);
    color: var(--inversed-text-color);
    padding-left: var(--bs-gutter-x,1.5rem);
    padding-right: var(--bs-gutter-x,1.5rem);
    padding-bottom: var(--bs-gutter-x,1.5rem);
    color: white;
}

.pages-content {
    padding-left: var(--bs-gutter-x,1rem);
    padding-right: var(--bs-gutter-x,1rem);
    background-image: url('../assets/cutting-tools.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.bottombar-content {
    padding-left: var(--bs-gutter-x,1rem);
    padding-right: var(--bs-gutter-x,1rem);
}

.card {
    text-align: center;
    background-color: var(--content-background-color);
    color: var(--text-color);
}

.btn {
    width: 7.5rem;
    font-size: large;
}

img {
    width: 4rem;
    margin-bottom: 1rem;
}

.bottombar-content {
    color: var(--text-color);
}

body {
    font-family: 'Montserrat', sans-serif;
}

/* Theme Button */

.text {
    margin: 20px;
    height: 70px;
    width: 70px;
    background-color: var(--text-color);
}

.content-background {
    margin: 20px;
    background-color: var(--content-background-color);
}

button {
    border: none;
    padding: 10px 10px;
    background-color: transparent;
    color: var(--content-background-color);
}