.default {
  --background-color: #f4f4f4;
  --primary-color: #f00;
  --accent-color: #0d6efd;
  --text-color: #000;
  --inversed-text-color: #fff;
  --content-background-color: #fff;
  --border: 2px solid white;
  --card-border-color: #ddd;
  --home-navbar-background-color: rgba(244, 244, 244, 0.9);
  --logo-filter-mode: none;
}

@media only screen and (prefers-color-scheme: dark) {
  .default {
    --background-color: #111;
    --text-color: #fff;
    --inversed-text-color: #000;
    --content-background-color: #000;
    --border: 2px solid white;
    --card-border-color: #444;
    --home-navbar-background-color: rgba(17, 17, 17, 0.9);
    --logo-filter-mode: brightness(0) invert(1);
  }
}

.lightmode {
  --background-color: #f4f4f4;
  --text-color: #000;
  --inversed-text-color: #fff;
  --content-background-color: #fff;
  --border: 2px solid white;
  --card-border-color: #ddd;
  --home-navbar-background-color: rgba(244, 244, 244, 0.9);
  --logo-filter-mode: none;
}

.darkmode {
  --background-color: #111;
  --text-color: #fff;
  --inversed-text-color: #000;
  --content-background-color: #000;
  --border: 2px solid white;
  --card-border-color: #444;
  --home-navbar-background-color: rgba(17, 17, 17, 0.9);
  --logo-filter-mode: brightness(0) invert(1);
}

.navbar {
  background-color: var(--home-navbar-background-color);
  backdrop-filter: blur(4px);
}

.nav-link:hover {
  color: var(--accent-color);
}

/* .navbar-toggler-icon {
  background-image: url("/assets/menu/menu-dark.png");
}

.navbar-toggler-icon:hover {
  background-image: url("/assets/menu/menu-light.png");
}

.navbar-toggler {
  border-width: 1px;
  border-color: white;
} */

body {
  margin-top: 0;
  width: 100%;
}

.row {
  padding: 0;
  margin: 0;
}

.cover {
  height: 50vh;
  padding: 2.5rem 5vw 0 5vw;
  position: relative; /* Necessary for controlling overflow with positioned elements */
  overflow: hidden; /* Ensures overflow content is hidden */
  align-content: center;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  border-radius: 0 0 4rem 4rem;
  margin-bottom: 1.5rem;
}

.cover-text {
  font-size: 2.5vw;
  font-weight: bold;
  width: 60vw;
}

.milling-cutter {
  position: absolute;
  right: 5%;
  bottom: -10%;
  display: block;
  width: 21%;
}

.card {
  background-color: var(--content-background-color);
  border-color: var(--card-border-color);
}

.dealership-section,
.factory-section,
.products-section,
.about-section {
  padding: 1rem 2rem 1rem 2rem;
}

#dealership-image {
  background-image: url("/assets/home/office.jpeg");
  background-size: cover;
  background-position: center;
  min-height: 15rem;
  border-radius: 1.95rem 0 0 1.95rem;
}

#dealership-text {
  color: white;
  backdrop-filter: brightness(50%);
  -webkit-backdrop-filter: brightness(50%);
  height: 100%;
  text-align: center;
  align-content: center;
  border-radius: 1.95rem 0 0 1.95rem;
  font-size: 5rem;
  font-weight: bold;
}

#factory-image {
  background-image: url("/assets/home/factory.jpeg");
  background-size: cover;
  background-position: center;
  min-height: 15rem;
  border-radius: 1.95rem 0 0 1.95rem;
}

#factory-text {
  color: white;
  backdrop-filter: brightness(50%);
  -webkit-backdrop-filter: brightness(50%);
  height: 100%;
  text-align: center;
  align-content: center;
  border-radius: 1.95rem 0 0 1.95rem;

  font-size: 5rem;
  font-weight: bold;
}

#ceratizit-logo, #wohlhaupter-logo, #tdk-logo, #three-m-logo {
  filter: var(--logo-filter-mode);
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-3362px / 2));
  }
}

.product-card {
  border-radius: 1.5rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

#about-image {
  /* background-image: url("/assets/about/team.png"); */
  background-size: cover;
  background-position: top;
  min-height: 15rem;
  border-radius: 1.95rem 0 0 1.95rem;
  background-repeat: no-repeat;
}

#about-text {
  color: white;
  backdrop-filter: brightness(50%);
  -webkit-backdrop-filter: brightness(50%);
  height: 100%;
  text-align: center;
  align-content: center;
  border-radius: 1.95rem 0 0 1.95rem;

  font-size: 5rem;
  font-weight: bold;
}

.list-group-item {
  background-color: var(--content-background-color);
  color: var(--text-color);
  border-color: var(--card-border-color);
}

@media only screen and (max-width: 1199px) {
  .dealership-section,
  .factory-section,
  .products-section,
  .about-section {
    padding: 1rem 1rem 1rem 1rem;
  }

  .text-break {
    display: none;
  }

  #dealership-image,
  #dealership-text,
  #factory-image,
  #factory-text,
  #about-image,
  #about-text {
    border-radius: 1.95rem 1.95rem 0 0;
  }
}

@media only screen and (max-width: 575px) {
  .product-company-card {
    padding-right: 0;
    padding-left: 0;
  }

  #dealership-text,
  #factory-text,
  #about-text {
    font-size: 3.5rem;
  }

  .cover {
    min-height: 40vh;
  }

  .cover-text {
    font-size: 1.4rem;
    width: 100%;
    margin-bottom: 3rem;
  }

  .milling-cutter {
    position: absolute;
    width: 10rem;
    right: 10%;
    bottom: -17%;
    display: block;
  }

  #about-image {
    background-size: contain;
    background-position: center;
    min-height: 15rem;
    border-radius: 1.95rem 0 0 1.95rem;
  }
}
