:root {
    --background-color: #eee;
    --primary-color: #f00;
    --accent-color: #0d6efd;
    --text-color: #000;
    --inversed-text-color: #fff;
    --content-background-color: #fff;
    --menu-icon: url('../assets/menu-light.png');
}

.darkmode {
    --background-color: #222;
    --text-color: #fff;
    --inversed-text-color: #000;
    --content-background-color: #000;
    --menu-icon: url('../assets/menu-dark.png');
}

.navbar {
    padding: 0;
}

.navbar-brand {
    padding: 0.25rem 1rem;
    font-family: serif;
    font-size: 1.8rem;
    background-color: var(--primary-color);
    color: white;
    letter-spacing: 0.75px;
}

.navbar-brand:hover {
    color: white;
}

.nav-link {
    color: var(--text-color);
}

.navbar-toggler-icon {
    background-image: var(--menu-icon);
}

.navbar-toggler-icon:hover {
    background-image: url('../assets/menu-hover.png');
}

.navbar-toggler {
    border-width: 1px;
    border-color: #7f7f7f;
}

.container-fluid {
    padding-left: var(--bs-gutter-x,.75rem);
    padding-right: var(--bs-gutter-x,.75rem);
}

.container {
    margin: 0;
    margin: auto var(--bs-gutter-x,.75rem);
    font-family: 'Montserrat', sans-serif;
}

.text, .content-background {
    display: inline-block;
}

body {
    background-color: var(--background-color);
}