:root {
    --background-color: #eee;
    --primary-color: #f00;
    --accent-color: #0d6efd;
    --text-color: #000;
    --inversed-text-color: #fff;
    --navbar-color: rgba(238, 238, 238, 0.9);
    --content-background-color: #fff;
    --bottombar-color: #ddd;
    --menu-icon: url('../assets/menu-light.png');
}

.darkmode {
    --background-color: #222;
    --text-color: #fff;
    --inversed-text-color: #000;
    --content-background-color: #000;
    --navbar-color: rgba(34, 34, 34, 0.9);
    --bottombar-color: #333;
    --menu-icon: url('../assets/menu-dark.png');
}

.navbar {
    padding: 0;
    background-color: var(--navbar-color);
    backdrop-filter: blur(3px);
}

.navbar-brand {
    padding: 0.25rem 1rem;
    font-family: serif;
    font-size: 1.8rem;
    background-color: var(--primary-color);
    color: white;
    letter-spacing: 0.75px;
}

.navbar-brand:hover {
    color: white;
}

.nav-link {
    color: var(--text-color);
}

.navbar-toggler-icon {
    background-image: var(--menu-icon);
}

.navbar-toggler-icon:hover {
    background-image: url('../assets/menu-hover.png');
}

.navbar-toggler {
    border-width: 1px;
    border-color: #7f7f7f;
}

.container-fluid {
    padding-left: var(--bs-gutter-x,.75rem);
    padding-right: var(--bs-gutter-x,.75rem);
}

.container {
    margin: 0;
    margin: auto var(--bs-gutter-x,.75rem);
    font-family: 'Montserrat', sans-serif;
}

.text, .content-background {
    display: inline-block;
}

body {
    margin-top: 4rem;
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: 'Montserrat', sans-serif;
}

.bottombar-content {
    padding: var(--bs-gutter-x,1rem);
    display: grid;
    grid-auto-flow: column;
    gap: 4px;
    align-items: center;
    justify-items: flex-start;
    background-color: var(--bottombar-color);
    color: var(--text-color);
}

.bottombar-info {
    font-size: small;
    text-align: end;
    padding-left: 5rem;
}

.bottombar-footer {
    font-size: 0.75rem;
}

.bottombar-content-narrow {
    display: none;
}

@media only screen and (max-width: 768px) {
    .bottombar-content {
        display: none;
    }

    .bottombar-content-narrow {
        display: block;
        padding: var(--bs-gutter-x,1rem);
        background-color: var(--bottombar-color);
    }

    .bottombar-row-narrow {
        display: grid;
        grid-auto-flow: column;
        gap: 4px;
        align-items: center;
        justify-items: flex-start;
    }

    .bottombar-info-narrow {
        font-size: 0.8rem;
        margin-top: 1rem;
    }
}