:root {
    --background-color: #f0f0f0;
    --primary-color: #f00;
    --accent-color: #0d6efd;
    --text-color: #000;
    --inversed-text-color: #fff;
    --content-background-color: #fff;
    --form-color: #fff;
    --border: none;
}

.darkmode {
    --background-color: #141414;
    --text-color: #fff;
    --inversed-text-color: #000;
    --content-background-color: #000;
    --form-color: #ccc;
    --border: 1px solid white;
}

.content {
    padding-left: var(--bs-gutter-x,.75rem);
    padding-right: var(--bs-gutter-x,.75rem);
}

h1 {
    margin-bottom: 2rem;
}

.card {
    background-color: var(--content-background-color);
    color: var(--text-color);
    border: var(--border);
    margin-bottom: var(--bs-gutter-x,.75rem);
}

.card-body {
    padding-top: 0.5rem;
}

.supplier {
    width: 30%;
    margin: 2rem 0;
}

.row {
    justify-content: space-between;
}

.product {
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
}

h5 {
    font-weight: 600;
}

@media only screen and (max-width: 768px) {
    .supplier {
        width: 100%;
    }
}