.default,
.lightmode {
    --background-color        : #f0f0f0;
    --text-color              : #000;
    --inversed-text-color     : #fff;
    --content-background-color: #fff;
    --form-color              : #fff;
    --border                  : none;
}

@media only screen and (prefers-color-scheme: dark) {
    .default {
        --background-color        : #141414;
        --text-color              : #fff;
        --inversed-text-color     : #000;
        --content-background-color: #000;
        --form-color              : #ccc;
        --border                  : 1px solid white;
    }
}

.darkmode {
    --background-color        : #141414;
    --text-color              : #fff;
    --inversed-text-color     : #000;
    --content-background-color: #000;
    --form-color              : #ccc;
    --border                  : 1px solid white;
}

/* body */


h1 {
    margin-bottom: 2rem;
}

hr {
    margin-top   : 1.25rem;
    margin-bottom: 1.25rem;
}

.row {
    width : 100%;
    margin: 0;
}

.brand-img {
    text-align: center;
}

.dropdown-btn {
    text-align: center;
}

.col-row {
    display    : flex;
    align-items: center;
}

.card {
    background-color: var(--content-background-color);
    border          : var(--border);
}

.card-body {
    padding-top: 0.5rem;
}

.supplier {
    width : 30%;
    margin: 2rem 0;
}

.row {
    justify-content: flex-start;
}

.product {
    display        : flex;
    justify-content: flex-start;
    flex-wrap      : nowrap;
    align-items    : flex-start;
}

@media only screen and (max-width: 768px) {
    .supplier {
        width: 100%;
    }

    .brand-img {
        margin-bottom: 1rem;
    }
}